body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(24, 23, 23);
  color: rgb(255, 255, 255);
}
#root {
  width: 60vw;
  height: 100vh;
  margin: auto;
  padding: 10px 0px;
  justify-content: center;
  align-items: center;
}
.whole-main {
  background-color: #000000;
  border-radius: 15px;
}
.error-msg {
  color: red;
}
.login-form {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.login-form__logo img {
  width: 40px;
  transition: all 0.5s;
}
.login-form__logo :hover {
  transform: scale(1.5);
}
.login-form__input {
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.login-form__input_text {
  display: flex;
  width: 100%;
  flex-grow: 1;
  flex-direction: column;
}
.login-form__input_text input {
  background-color: white;
  height: 18px;
  border: solid 1px;
  border-radius: 5px;
  transition: all 0.1s;
}
.login-form__input_text :active {
  transform: scale(0.9);
}
.login-form__input_text__button input {
  background-color: #03a9f4;
  border: solid 2px #03a9f4;
  transition: all 0.1s;
  border-radius: 5px;
  flex-grow: 1;
  color: white;
  width: 100%;
  height: 42px;
}
.login-form__input_text__button :active {
  transform: scale(0.9);
  border: solid 2px white;
}
.other-auth {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 230.06px;
  height: 80px;
}
.other-auth button {
  width: 100%;
  height: 25px;
  background-color: transparent;
  border: solid 2px #03a9f4;
  border-radius: 20px;
  justify-content: center;
}
.other-auth button img {
  width: 15px;
  position: relative;
  top: 1.5px;
}
.other-auth :hover {
  border-color: #fffb00;
}
.create-account {
  display: inline-block;
  width: 100%;
  height: 25px;
  background-color: transparent;
  border-radius: 20px;
}
.create-account input {
  width: 100%;
  height: 25px;
  position: relative;
  bottom: 1px;
  background-color: transparent;
  border: solid 2px #03a9f4;
  border-radius: 20px;
  color: white;
}
.auth-form {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.auth-form__input {
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.auth-form__button {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
.auth-form__button button {
  width: 70px;
}
.navigation {
  margin: 0;
  border-bottom: solid 1px white;
}
.navigation ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 10px 20px;
}
.navigation ul li {
  transition: all 0.3s;
}
.navigation ul li:hover {
  transform: scale(1.2);
}
.main-home {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 90vh;
  padding-left: 10px;
  margin: 10px 0px;
}
.tweet-form {
  overflow-y: scroll;
  height: 100%;
  flex-grow: 2;
  border-radius: 10px;
}
.tweet-form::-webkit-scrollbar {
  width: 10px;
}
.tweet-form::-webkit-scrollbar-thumb {
  height: 30%;
  background: #03a9f4;
  border-radius: 10px;
}
.tweet-form::-webkit-scrollbar-thumb:active {
  background: #0b94d3;
}
.tweet-form::-webkit-scrollbar-track {
}
.tweet-form__input {
  flex-grow: 1;
  margin: 10px;
}
.tweet {
  background-color: rgb(255, 255, 255);
  position: relative;
  color: black;
  font-size: 15px;
  border: solid 2px;
  border-color: white;
  border-radius: 7px;
  margin: 10px;
}
.tweet_img {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.tweet img {
  position: relative;
  width: 90%;
  height: 500px;
  object-fit: contain;
  border: solid 1px;
  border-radius: 10px;
}
.profile-form {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  padding: 10px 0px;
}
.profile-file {
  position: absolute;
  top: 5px;
}
.logout-btn {
  margin: 10px;
}
.dialog-demo .p-button {
  margin: 0 0.5rem 0 0;
  min-width: 10rem;
}
.dialog-demo .p-dialog .p-button {
  min-width: 6rem;
}
.card {
  margin: 10px;
  margin-right: 20px;
}
.p-button:enabled:active,
.p-button:enabled:hover,
.p-button:not(button):not(a):not(.p-disabled):hover {
  background: #0b94d3;
  border-color: #0b94d3;
  color: white;
}
.p-button:focus {
  /* box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px #c7d2fe, 0 1px 2px 0 rgb(0, 0, 0); */
  box-shadow: 0 0 0 0;
}
.p-button:hover {
  box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px #c7d2fe, 0 1px 2px 0 rgb(0, 0, 0);
}
.p-button {
  background: #03a9f4;
  width: 100%;
  border: 1px solid #03a9f4;
}
.p-button.p-button-text {
  color: #03a9f4;
  border: solid 1px #03a9f4;
}
.p-button.p-button-text:enabled:focus {
  color: #0b94d3;
}
.p-button.p-button-text:enabled:hover {
  color: #0b94d3;
  border: solid 1px #03a9f4;
}
.p-dialog .p-dialog-header {
  color: #03a9f4;
}
.p-dialog-header-icons {
  visibility: hidden;
}
.p-inputtext {
  width: 100%;
  transition: all 0.1s;
}
.p-inputtext:enabled:hover {
  border-color: #03a9f4;
}
.p-inputtext:enabled:focus {
  outline: 0 none;
  outline-offset: 0;
  border-color: #03a9f4;
  box-shadow: 0 0 0 0 #03a9f4;
}
.p-inputtext:enabled:active {
  transform: scale(0.95);
}
.img-div {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.img-styles {
  border: 1px solid #03a9f4;
  border-radius: 10px;
  margin-top: 5px;
}

.info-style {
  display: flex;
  justify-content: space-between;
  margin: 5px;
}
.p-speeddial {
  width: auto;
  position: absolute;
  right: 5px;
}
.p-speeddial-button.p-button.p-button-icon-only {
  width: 2rem;
  height: 2rem;
}
.p-speeddial-action {
  width: 2rem;
  height: 2rem;
}
.edit-btn {
  display: flex;
  padding: 4px 0px;
  justify-content: space-between;
}
